definitions:
  requestmodel.BeauticianCreate:
    properties:
      age:
        type: integer
      firstName:
        type: string
      lastName:
        type: string
      phoneNumber:
        type: string
    type: object
  requestmodel.BeauticianFind:
    properties:
      date:
        type: string
      menuRandID:
        type: string
      salonRandID:
        type: string
    type: object
  requestmodel.BeauticianGet:
    type: object
  requestmodel.ReservationCreate:
    properties:
      beauticiaId:
        type: integer
      date:
        type: string
      menuId:
        type: integer
      spaceId:
        type: integer
    type: object
  requestmodel.ReservationFind:
    properties:
      beauticianRandID:
        type: string
    type: object
  requestmodel.ReservationFindByBeautician:
    properties:
      offset:
        type: integer
    type: object
  requestmodel.SalonFind:
    properties:
      beauticianRandID:
        type: string
    type: object
  resource.Error:
    properties:
      message:
        type: string
    type: object
  responsemodel.Beautician:
    properties:
      age:
        type: integer
      createdAt:
        type: string
      firstName:
        type: string
      id:
        type: integer
      lastName:
        type: string
      phoneNumber:
        type: string
      randId:
        type: string
      updatedAt:
        type: string
    type: object
  responsemodel.BeauticianCreate:
    properties:
      age:
        type: integer
      createdAt:
        type: string
      firstName:
        type: string
      id:
        type: integer
      lastName:
        type: string
      phoneNumber:
        type: string
      randId:
        type: string
      updatedAt:
        type: string
    type: object
  responsemodel.BeauticianFind:
    properties:
      beauticians:
        items:
          $ref: '#/definitions/responsemodel.Beautician'
        type: array
    type: object
  responsemodel.BeauticianGet:
    properties:
      age:
        type: integer
      createdAt:
        type: string
      firstName:
        type: string
      id:
        type: integer
      lastName:
        type: string
      phoneNumber:
        type: string
      randId:
        type: string
      updatedAt:
        type: string
    type: object
  responsemodel.Reservation:
    properties:
      beauticiaId:
        type: integer
      createdAt:
        type: string
      date:
        type: string
      guestId:
        type: integer
      menuId:
        type: integer
      spaceId:
        type: integer
      updatedAt:
        type: string
    type: object
  responsemodel.ReservationCreate:
    properties:
      beauticiaId:
        type: integer
      createdAt:
        type: string
      date:
        type: string
      guestId:
        type: integer
      menuId:
        type: integer
      spaceId:
        type: integer
      updatedAt:
        type: string
    type: object
  responsemodel.ReservationFind:
    properties:
      reservations:
        items:
          $ref: '#/definitions/responsemodel.Reservation'
        type: array
    type: object
  responsemodel.ReservationFindByBeautician:
    properties:
      reservations:
        items:
          $ref: '#/definitions/responsemodel.Reservation'
        type: array
    type: object
  responsemodel.Salon:
    properties:
      Name:
        type: string
      createdAt:
        type: string
      id:
        type: integer
      randId:
        type: string
      updatedAt:
        type: string
    type: object
  responsemodel.SalonFind:
    properties:
      salons:
        items:
          $ref: '#/definitions/responsemodel.Salon'
        type: array
    type: object
info:
  contact: {}
  license: {}
paths:
  /api/v1/beautician:
    get:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.BeauticianGet'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.BeauticianGet'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 美容師情報取得
    post:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.BeauticianCreate'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.BeauticianCreate'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 美容師登録
  /api/v1/beautician/find:
    get:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.BeauticianFind'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.BeauticianFind'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 美容師検索
  /api/v1/reservation:
    post:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.ReservationCreate'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.ReservationCreate'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 予約登録
  /api/v1/reservation/beautician:
    get:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.ReservationFindByBeautician'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.ReservationFindByBeautician'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 美容師予約情報取得
  /api/v1/reservation/find:
    get:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.ReservationFind'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.ReservationFind'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 予約検索
  /api/v1/salon/find:
    get:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.SalonFind'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.SalonFind'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 美容院検索
swagger: "2.0"
