definitions:
  requestmodel.BeauticianCreate:
    properties:
      age:
        type: integer
      firstName:
        type: string
      lastName:
        type: string
      phoneNumber:
        type: string
    type: object
  requestmodel.BeauticianFind:
    properties:
      date:
        type: string
      menuRandIDs:
        items:
          type: string
        type: array
      salonRandID:
        type: string
    type: object
  requestmodel.BeauticianGet:
    type: object
  requestmodel.GuestCreate:
    properties:
      email:
        type: string
      firstName:
        type: string
      firstNameKana:
        type: string
      lastName:
        type: string
      lastNameKana:
        type: string
    required:
    - email
    - firstName
    - firstNameKana
    - lastName
    - lastNameKana
    type: object
  requestmodel.GuestGet:
    type: object
  requestmodel.MenuFind:
    properties:
      beauticianRandID:
        type: string
    type: object
  requestmodel.MenuFindByBeauticianWithMenuRandIDs:
    properties:
      menuRandIDs:
        items:
          type: string
        type: array
    type: object
  requestmodel.ReservationCreate:
    properties:
      beauticianRandId:
        type: string
      date:
        type: string
      menuIds:
        items:
          type: string
        type: array
      salonRandId:
        type: string
    type: object
  requestmodel.ReservationFind:
    properties:
      beauticianRandID:
        type: string
    type: object
  requestmodel.ReservationFindByBeautician:
    properties:
      offset:
        type: integer
    type: object
  requestmodel.SalonFind:
    properties:
      beauticianRandID:
        type: string
      date:
        type: string
    type: object
  resource.Error:
    properties:
      message:
        type: string
    type: object
  responsemodel.Beautician:
    properties:
      age:
        type: integer
      comment:
        type: string
      createdAt:
        type: string
      firstName:
        type: string
      id:
        type: integer
      instagramId:
        type: string
      lastName:
        type: string
      lineId:
        type: string
      menus:
        items:
          $ref: '#/definitions/responsemodel.BeauticianMenu'
        type: array
      phoneNumber:
        type: string
      randId:
        type: string
      updatedAt:
        type: string
    type: object
  responsemodel.BeauticianCreate:
    properties:
      age:
        type: integer
      comment:
        type: string
      createdAt:
        type: string
      firstName:
        type: string
      id:
        type: integer
      instagramId:
        type: string
      lastName:
        type: string
      lineId:
        type: string
      menus:
        items:
          $ref: '#/definitions/responsemodel.BeauticianMenu'
        type: array
      phoneNumber:
        type: string
      randId:
        type: string
      updatedAt:
        type: string
    type: object
  responsemodel.BeauticianFind:
    properties:
      beauticians:
        items:
          $ref: '#/definitions/responsemodel.Beautician'
        type: array
    type: object
  responsemodel.BeauticianGet:
    properties:
      age:
        type: integer
      comment:
        type: string
      createdAt:
        type: string
      firstName:
        type: string
      id:
        type: integer
      instagramId:
        type: string
      lastName:
        type: string
      lineId:
        type: string
      menus:
        items:
          $ref: '#/definitions/responsemodel.BeauticianMenu'
        type: array
      phoneNumber:
        type: string
      randId:
        type: string
      updatedAt:
        type: string
    type: object
  responsemodel.BeauticianMenu:
    properties:
      beauticianId:
        type: integer
      createdAt:
        type: string
      menuId:
        type: integer
      name:
        type: string
      price:
        type: integer
      updatedAt:
        type: string
    type: object
  responsemodel.Guest:
    properties:
      createdAt:
        description: Reservations []*Reservation `json:"reservations"`
        type: string
      email:
        type: string
      firstName:
        type: string
      firstNameKana:
        type: string
      lastName:
        type: string
      lastNameKana:
        type: string
      randId:
        type: string
      updatedAt:
        type: string
    type: object
  responsemodel.GuestCreate:
    properties:
      guest:
        $ref: '#/definitions/responsemodel.Guest'
        type: object
    type: object
  responsemodel.GuestGet:
    properties:
      createdAt:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      randId:
        type: string
      reservations:
        items:
          $ref: '#/definitions/responsemodel.ReservationGetByGuest'
        type: array
      updatedAt:
        type: string
    type: object
  responsemodel.Menu:
    properties:
      createdAt:
        type: string
      id:
        type: integer
      name:
        type: string
      randId:
        type: string
      updatedAt:
        type: string
    type: object
  responsemodel.MenuFind:
    properties:
      menus:
        items:
          $ref: '#/definitions/responsemodel.Menu'
        type: array
    type: object
  responsemodel.MenuFindByBeauticianWithMenuRandIDs:
    properties:
      beauticianMenus:
        items:
          $ref: '#/definitions/responsemodel.BeauticianMenu'
        type: array
    type: object
  responsemodel.Reservation:
    properties:
      beauticiaId:
        type: integer
      createdAt:
        type: string
      date:
        type: string
      guestId:
        type: integer
      menuId:
        type: integer
      spaceId:
        type: integer
      updatedAt:
        type: string
    type: object
  responsemodel.ReservationCreate:
    properties:
      beauticiaId:
        type: integer
      createdAt:
        type: string
      date:
        type: string
      guestId:
        type: integer
      menuId:
        type: integer
      spaceId:
        type: integer
      updatedAt:
        type: string
    type: object
  responsemodel.ReservationFind:
    properties:
      reservations:
        items:
          $ref: '#/definitions/responsemodel.Reservation'
        type: array
    type: object
  responsemodel.ReservationFindByBeautician:
    properties:
      reservations:
        items:
          $ref: '#/definitions/responsemodel.Reservation'
        type: array
    type: object
  responsemodel.ReservationGetByGuest:
    properties:
      beauticianFirstName:
        type: string
      beauticianLastName:
        type: string
      date:
        type: string
      guestId:
        type: integer
      id:
        type: integer
      menus:
        items:
          $ref: '#/definitions/responsemodel.BeauticianMenu'
        type: array
      salonName:
        type: string
    type: object
  responsemodel.Salon:
    properties:
      addressCode:
        type: string
      addressOther:
        type: string
      city:
        type: string
      closingHours:
        type: string
      createdAt:
        type: string
      id:
        type: integer
      name:
        type: string
      openingHours:
        type: string
      phoneNumber:
        type: string
      postalCode:
        type: string
      prefectures:
        type: string
      randId:
        type: string
      town:
        type: string
      updatedAt:
        type: string
    type: object
  responsemodel.SalonFind:
    properties:
      salons:
        items:
          $ref: '#/definitions/responsemodel.Salon'
        type: array
    type: object
info:
  contact: {}
  license: {}
paths:
  /api/v1/beautician:
    post:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.BeauticianCreate'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.BeauticianCreate'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 美容師登録
  /api/v1/beautician/{randID}:
    get:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.BeauticianGet'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.BeauticianGet'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 美容師情報取得
  /api/v1/beautician/find:
    get:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.BeauticianFind'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.BeauticianFind'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 美容師検索
  /api/v1/guest:
    get:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.GuestGet'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.GuestGet'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: ゲスト情報取得
    post:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.GuestCreate'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.GuestCreate'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: ゲスト新規登録
  /api/v1/menu/find:
    get:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.MenuFind'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.MenuFind'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: メニュー検索
  /api/v1/menu/find/{beauticianRandID}:
    get:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.MenuFindByBeauticianWithMenuRandIDs'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.MenuFindByBeauticianWithMenuRandIDs'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 美容師の詳細メニュー取得
  /api/v1/reservation:
    post:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.ReservationCreate'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.ReservationCreate'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 予約登録
  /api/v1/reservation/beautician:
    get:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.ReservationFindByBeautician'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.ReservationFindByBeautician'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 美容師予約情報取得
  /api/v1/reservation/find:
    get:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.ReservationFind'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.ReservationFind'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 予約検索
  /api/v1/salon/find:
    get:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/requestmodel.SalonFind'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responsemodel.SalonFind'
        "500":
          description: Something went wrong
          schema:
            $ref: '#/definitions/resource.Error'
      summary: 美容院検索
swagger: "2.0"
