@import "src/css/common.scss";

#modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(41, 10, 0, 0.8);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  #popup-content{
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
  }
}