@import "src/css/common.scss";

#bt-mypage {
  min-height: 100vh;
  background-color: $baseColor;
  box-sizing: border-box;
  padding: 150px 0 50px 0;
  * {
    box-sizing: border-box;
  }
  .bt-mypage-contents {
    width: 950px;
    border-radius: 15px;
    background-color: #fff;
    margin: 50px auto 0;
    @include whiteShadow;
    .top-content {
      width: 100%;
      display: flex;
      padding: 50px;
      figure {
        width: 300px;
        height: 300px;
        margin-right: 50px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      div {
        width: 500px;
        span {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px;

          h1 {
            font-size: 18px;
            line-height: 30px;
            color: $blackFontColor;
            width: 80%;
            span {
              display: inline;
              font-size: 10px;
              line-height: 10px;
              font-weight: bold;
              padding: 0 15px;
              color: $darkGray;
            }
          }
          button {
            border: none;
            color: #fff;
            font-size: 15px;
            font-weight: bold;
            background-color: $orangeColor1;
            align-self: center;
            padding: 15px 25px;
            border-radius: 15px;
            cursor: pointer;
          }
        }
        h2 {
          font-size: 15px;
          line-height: 18px;
          color: $blackFontColor;
        }
        p {
          font-size: 14px;
          line-height: 18px;
          color: $darkGray;
          margin-bottom: 15px;
        }
        .sns-content {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding-top: 10px;
          .line,
          .instagram {
            border: 5px solid $baseColor;
            width: 48%;
            text-align: center;
            padding: 10px 0;
            figure {
              width: 100%;
              height: 50px;
              font-size: 50px;
              margin-bottom: 10px;
            }
            .fa-instagram {
              background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            .fa-line {
              color: #3fcf3a;
            }
            h2 {
              font-size: 16px;
              color: $darkGray;
            }
          }
        }
      }
    }
    .middle-content {
      width: 100%;
      padding: 50px;
      padding-top: 0;
      display: flex;
      justify-content: space-between;
      .menus,
      .salons {
        width: 48%;
        border: 5px solid $baseColor;
        padding: 10px;
        h2 {
          font-size: 16px;
          color: $blackFontColor;
          font-weight: bold;
          margin-bottom: 20px;
        }
        dl {
          font-size: 14px;
          span {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
          }
        }
        ul {
          li {
            list-style: none;
            margin-bottom: 10px;
            h3 {
              font-size: 14px;
              font-weight: lighter;
              line-height: 22px;
            }
            p {
              font-size: 12px;
              line-height: 18px;
              color: $darkGray;
            }
          }
        }
      }
    }
  }
}
