@import "src/css/common.scss";

#modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(41, 10, 0, 0.8);
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: none;
  &.on-modal {
    display: flex;
  }
  #modal-contents {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    h2 {
      font-size: 14px;
      margin-bottom: 15px;
      color: $blackFontColor;
    }
    i {
      font-size: 35px;
      margin-bottom: 20px;
      color: $orangeColor1;
    }
    div {
      width: 150px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      button {
        border: none;
        width: 45%;
        font-size: 14px;
        padding: 10px 12px;
        color: $darkGray;
        cursor: pointer;
        &:first-of-type {
          background-color: $orangeColor1;
          color: #fff;
        }
      }
    }
  }
}

#bt-mypage {
  min-height: 100vh;
  background-color: $baseColor;
  box-sizing: border-box;
  padding: 150px 0 50px 0;
  * {
    box-sizing: border-box;
  }
  .bt-mypage-contents {
    width: 950px;
    border-radius: 8px;
    background-color: #fff;
    margin: 50px auto 0;
    @include whiteShadow;
    .top-content {
      width: 100%;
      display: flex;
      padding: 50px;
      figure {
        width: 280px;
        height: 280px;
        margin-right: 50px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      div {
        width: 500px;
        span {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px;
          h1 {
            font-size: 18px;
            line-height: 30px;
            color: $blackFontColor;
            width: 80%;
            span {
              display: inline;
              font-size: 10px;
              line-height: 10px;
              font-weight: bold;
              padding: 0 5px;
              color: $darkGray;
            }
          }
          button {
            border: none;
            color: #fff;
            font-size: 15px;
            font-weight: bold;
            background-color: $orangeColor1;
            align-self: center;
            padding: 10px 22px;
            border-radius: 10px;
            cursor: pointer;
          }
        }
        h2 {
          font-size: 12px;
          line-height: 18px;
          color: $darkGray;
        }
        p {
          font-size: 14px;
          line-height: 18px;
          font-weight: bold;
          color: $blackFontColor;
          margin-bottom: 15px;
        }
        .sns-content {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding-top: 10px;
          .line,
          .instagram {
            border: 1px solid $lightGray;
            width: 48%;
            text-align: center;
            padding: 15px 0;
            figure {
              width: 100%;
              height: 40px;
              font-size: 40px;
              margin-bottom: 5px;
            }
            .fa-instagram {
              background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            .fa-line {
              color: #3fcf3a;
            }
            h2 {
              font-size: 14px;
              color: $blackFontColor;
            }
          }
        }
      }
    }
    .middle-content {
      width: 100%;
      padding: 50px;
      padding-top: 0;
      display: flex;
      justify-content: space-between;
      .menus,
      .salons {
        width: 45%;
        padding: 10px;
        h2 {
          font-size: 12px;
          color: $darkGray;
          font-weight: bold;
          margin-bottom: 10px;
        }
        dl {
          font-size: 12px;
          span {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
            dt {
              font-weight: bold;
            }
          }
        }
        ul {
          li {
            list-style: none;
            margin-bottom: 10px;
            h3 {
              font-size: 12px;
              font-weight: lighter;
              line-height: 22px;
              font-weight: bold;
            }
            p {
              font-size: 12px;
              line-height: 18px;
              color: $darkGray;
              font-weight: bold;
            }
          }
        }
      }
    }
    .bottom-content {
      width: 100%;
      padding: 50px;
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 950px) {
  #bt-mypage {
    .bt-mypage-contents {
      width: 90%;
      .top-content {
        flex-flow: row wrap;
        div {
          width: 100%;
        }
      }
      .bottom-content {
        #schedule {
          table {
            tbody {
              tr,
              th,
              td {
                width: 70px;
                height: 40px;
                line-height: 40px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  #modal {
    #modal-contents {
      max-width: 300px;
      padding: 40px;
      h2 {
        font-size: 14px;
      }
    }
  }
  #bt-mypage {
    padding: 130px 0 50px 0;
    .bt-mypage-contents {
      width: 95%;
      margin: 30px auto 0;
      .top-content {
        flex-flow: row wrap;
        padding: 10px;
        figure {
          width: 100%;
          margin-right: 0;
          margin-bottom: 30px;
        }
        div {
          width: 100%;
          span {
            h1 {
              font-size: 16px;
              span {
                padding: 0 5px;
              }
            }
            button {
              font-size: 12px;
              padding: 10px 15px;
            }
          }
          h2 {
            font-size: 12px;
          }
          p {
            font-size: 12px;
          }
          .sns-content {
            flex-flow: wrap row;
            .line,
            .instagram {
              width: 100%;
              margin-bottom: 10px;
              figure {
                font-size: 40px;
                height: 40px;
              }
            }
          }
        }
      }
      .middle-content {
        flex-flow: row wrap;
        padding: 10px;
        .menus,
        .salons {
          width: 100%;
          margin-bottom: 10px;
        }
      }
      .bottom-content {
        padding: 10px;
        #schedule {
          table {
            tbody {
              tr,
              th,
              td {
                width: 40px;
                height: 25px;
                line-height: 25px;
              }
            }
          }
        }
      }
    }
  }
}
