@import "../../../../css/common.scss";

.chooses {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: $baseColor;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
  padding: 190px 0 0;
  .chooses-contents-wrapper {
    margin-top: 20px;
    .chooses-contents {
      width: 1100px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }
}
