#final-comfirmation {
  background-color: #f3f3f3;
  height: 100vh;
}

.final-answer {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.final-answer button {
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #f08642;
}

.final-comfirmation-content-wrapper {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.final-comfirmation-content-wrapper .choose-card {
  pointer-events: none;
}

.final-comfirmation-content {
  width: 380px;
  height: 520px;
  color: #242429;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 15px;
  margin: 30px 0 0;
  -webkit-box-shadow: 0px 25px 12px #e9e9e9;
          box-shadow: 0px 25px 12px #e9e9e9;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.final-comfirmation-content h2 {
  font-size: 24px;
}

.final-comfirmation-content div {
  padding: 10px 0;
}

.final-comfirmation-content div p {
  font-size: 18px;
  padding: 1px 0;
  margin-bottom: 40px;
}

.final-comfirmation-content div dl {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  line-height: 25px;
}

.final-comfirmation-content div dl dt {
  width: 40%;
  list-style: none;
  font-size: 18px;
}

.final-comfirmation-content div dl dd {
  width: 60%;
  text-align: right;
  font-size: 18px;
}

.final-comfirmation-content .total-price {
  width: 92%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.final-comfirmation-content .total-price p {
  font-size: 23px;
}
