@import "../../../css/common.scss";

#final-comfirmation{
  background-color: $baseColor;
  height: 100vh;
}

.final-answer{
  width: 800px;
  display: flex;
  margin: 30px auto 10px;
  justify-content: center;
  button{
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: $orangeColor1;
  }
}

.final-comfirmation-content-wrapper {
  width: 1200px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: space-between;
  .choose-card{
    pointer-events: none;
  }
}

.final-comfirmation-content {
  width: 380px;
  height: 520px;
  color: $blackFontColor;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px 15px;
  margin: 30px 0 0;
  @include whiteShadow;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  h2 {
    font-size: 24px;
  }
  div {
    padding: 10px 0;
    p {
      font-size: 18px;
      padding: 1px 0;
      margin-bottom: 40px;
    }
    dl {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      line-height: 25px;
      dt {
        width: 40%;
        list-style: none;
        font-size: 18px;
      }
      dd{
        width: 60%;
        text-align: right;
        font-size: 18px;
      }
    }
  }
  .total-price{
    width: 92%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    p{
      font-size: 23px;
    }
  }
}

