@import "src/css/common.scss";

#reservationInfor {
  padding: 50px;
  margin: 0 5px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 15px;
  @include whiteShadow;
  h2 {
    font-size: 14px;
    color: #fff;
    background-color: $orangeColor1;
    padding: 8px 0;
    border-radius: 5px;
  }
  div {
    padding: 30px 0 0;
    dl {
      span {
        text-align: left;
        display: flex;
        margin: 10px 0;
        font-size: 16px;
        font-weight: bold;
        dt {
          width: 100px;
          color: $blackFontColor;
        }
        dd {
          width: 200px;
          color: $darkGray;
        }
        &.menus {
          height: 100px;
          .menus-wrapper {
            margin: 0;
            display: flex;
            flex-flow: nowrap column;
            width: 200px;
            span {
              margin: 0 0 5px;
              dd {
                width: 50%;
                &:last-of-type {
                  text-align: right;
                }
              }
            }
          }
        }
        &.price {
          width: 100%;
          border-bottom: 1px solid $orangeColor1;
          padding-bottom: 10px;
          dt,
          dd {
            font-size: 20px;
          }
          dd {
            text-align: right;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  #reservationInfor {
    width: 100%;
    padding: 30px 20px;
    margin: 0 0 10px;
    h2 {
      font-size: 12px;
    }
    div {
      dl {
        span {
          font-size: 12px;
          dt {
            width: 33%;
          }
          dd {
            width: 67%;
          }
          &.menus {
            .menus-wrapper {
              width: 67%;
              span {
                margin: 0 0 5px;
                dt {
                  width: 110px;
                }
                dd {
                  width: 50%;
                }
              }
            }
          }
          &.price {
            dt,
            dd {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
