#choose-beautician {
  display: flex;
  height: 100vh;
  align-items: center;
}
.choose-beautician-contents {
  width: 1000px;
  height: 700px;
  box-shadow: 2px 2px 5px #dddddd, -2px -2px 5px #eeeeee;
  background-color: rgb(240, 134, 66);
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.choose-beautician-contents-wrapper{
  display: flex;
  flex-flow: wrap row;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;
  width: 800px;
  height: 100%;
}
.sub-title {
  writing-mode: vertical-lr;
  color: #ffbe95;
  font-size: 110px;
  padding-left: 20px;
}
.beautician-card {
  box-shadow: 3px 3px 5px #e06742, -5px -5px 5px #eb734e;
  background-color: #fff;
  width: 320px;
  height: 550px;
  border-radius: 25px;
  overflow: hidden;
  margin: 50px 0;
  cursor: pointer;
  figure {
    width: 100%;
    height: 65%;
    padding: 20px 20px;
    box-sizing: border-box;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px 25px 0px 0px;
    }
  }
  div {
    padding: 0 20px 20px;
    h2 {
      font-size: 25px;
      font-weight: normal;
      margin-bottom: 5px;
    }
    h3 {
      margin-bottom: 5px;
      font-size: 18px;
    }
    p {
      font-size: 16px;
      color: rgb(121, 121, 121);
      margin-bottom: 15px;
    }
  }
}
// #choose-beautician {
//   display: flex;
//   height: 100vh;
//   align-items: center;
//   .contents {
//     display: flex;
//     flex-flow: row wrap;
//     overflow: scroll;
//     width: 1000px;
//     height: 700px;
//     margin: 0 auto;
//     box-shadow: 2px 2px 5px #dddddd, -2px -2px 5px #eeeeee;
//     background-color: rgb(240, 134, 66);
//     .beautician-card {
//       width: 400px;
//       cursor: pointer;
//       transition-duration: 0.2s;
//       margin: 25px auto;
//       box-shadow: 3px 3px 5px #e06742, -1px -1px 5px #eb734e;
//       border-radius: 20px;
//       overflow: hidden;
//       figure {
//         height: 400px;
//         width: 100%;
//         img {
//           width: 100%;
//           height: 100%;
//           object-fit: cover;
//           object-position: top;
//         }
//       }
//       div {
//         width: 100%;
//         height: 250px;
//         // padding: 20px 10px;
//         box-sizing: border-box;
//         background-color: #fff;
//         h2 {
//           font-size: 20px;
//           // margin-bottom: 10px;
//           // padding-bottom: 5px;
//           // border-bottom: 1px solid #000;
//         }
//         h3 {
//           font-size: 15px;
//           // margin-bottom: 10px;
//         }
//         h4 {
//           font-size: 16px;
//           line-height: 20px;
//         }
//         p {
//           // margin-bottom: 25px;
//           font-size: 14px;
//         }
//       }
//     }
//   }
// }
