@import "src/css/common.scss";

#mypage {
  min-height: 100vh;
  background-color: $baseColor;
  padding: 150px 0;
  * {
    box-sizing: border-box;
  }
  .contents {
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap row;
    figure {
      width: 50%;
      height: 400px;
      padding: 50px;
      padding-right: 25px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .profile {
      width: 50%;
      padding: 50px;
      padding-left: 25px;
      display: flex;
      justify-content: space-between;
      div {
        h1 {
          font-size: 20px;
          margin-bottom: 30px;
        }
        span {
          padding: 10px 0;
          display: block;
          h2 {
            font-size: 12px;
            color: $darkGray;
            line-height: 18px;
          }
          p {
            font-size: 14px;
            font-weight: bold;
            color: $blackFontColor;
            line-height: 20ox;
          }
        }
      }
      button {
        border: none;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        background-color: $orangeColor1;
        align-self: flex-start;
        padding: 10px 22px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .spaces {
      width: 50%;
      padding: 50px;
      padding-top: 0;
      padding-right: 25px;
      div:nth-of-type(1) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        h2 {
          font-size: 20px;
        }
        button {
          border: none;
          color: #fff;
          font-size: 15px;
          font-weight: bold;
          background-color: $orangeColor1;
          align-self: flex-start;
          padding: 10px 22px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
      div:nth-of-type(2) {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 50px 0;
        i {
          font-size: 50px;
          margin-right: 12px;
          color: $orangeColor1;
        }
        p {
          font-size: 50px;
        }
      }
    }
    .beauticians {
      width: 50%;
      padding: 50px;
      padding-top: 0;
      padding-left: 25px;
      h2 {
        font-size: 20px;
        margin-bottom: 30px;
      }
      ul {
        li {
          padding: 10px 0;
          list-style: none;
          font-size: 14px;
          font-weight: bold;
          color: $blackFontColor;
          line-height: 20ox;
        }
      }
    }
    .reservation {
      width: 100%;
      padding: 50px;
      padding-top: 0;
    }
  }
}
