#choose-menu {
  background-color: #f3f3f3;
  min-height: 100vh;
  height: 100%;
  padding: 150px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#choose-menu .menu-bar-wrapper {
  width: clamp(300px, 80%, 1200px);
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#choose-menu .menu-bar-wrapper::after {
  content: "";
  width: 380px;
}

#choose-menu .done-btn {
  background-color: #f08642;
  -webkit-box-shadow: 0px 10px 15px #e0e0e0;
          box-shadow: 0px 10px 15px #e0e0e0;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 8%;
  right: 5%;
  color: #fff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  font-size: 40px;
}

#choose-menu .done-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  #choose-menu {
    padding-bottom: 80px;
  }
  #choose-menu .done-btn {
    width: 50px;
    height: 50px;
    bottom: 3%;
    right: 3%;
    font-size: 20px;
  }
}
