@import "../../../../css/common.scss";
#choose-menu {
  background-color: $baseColor;
  height: 100vh;
  position: relative;
  .menu-bar-wrapper{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .menu-bar-wrapper::after{
    content: "";
    width: 380px;
  }
  .done-btn{
    background-color: $orangeColor1;
    @include whiteShadow;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 8%;
    right: 5%;
    color: #fff;
    transition-duration: .2s;
  }
  .done-btn:hover{
    transform: scale(1.1);
  }
}
