@import "../../../../css/common.scss";
#choose-menu {
  background-color: $baseColor;
  min-height: 100vh;
  height: 100%;
  padding: 150px 0 0;
  box-sizing: border-box;
  .menu-bar-wrapper {
    width: clamp(300px, 80%, 1200px);
    margin: 30px auto 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .menu-bar-wrapper::after {
    content: "";
    width: 380px;
  }
  .done-btn {
    background-color: $orangeColor1;
    @include whiteShadow;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 8%;
    right: 5%;
    color: #fff;
    transition-duration: 0.2s;
    font-size: 40px;
  }
  .done-btn:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 767px) {
  #choose-menu {
    padding-bottom: 80px;
    .done-btn {
      width: 50px;
      height: 50px;
      bottom: 3%;
      right: 3%;
      font-size: 20px;
    }
  }
}
