@import "src/css/common.scss";

#signup {
  background-color: $baseColor;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  padding: 150px 0;
  align-items: center;
}
@media screen and (max-width: 767px) {
  #signup {
    padding: 120px 5% 50px;
  }
}
