@import "../../../../css/common.scss";

#choose-date{
  background-color: $baseColor;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 120px 0 100px;
  box-sizing: border-box;
}
.shedule-wrapper{
  margin: 30px 0 0;
  display: flex;
  justify-content: center;
}
