@import "../../../../../css/common.scss";

.menu-bar {
  background-color: #fff;
  border: none;
  display: flex;
  height: 150px;
  width: 380px;
  border-radius: 5px;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0;
  @include whiteShadow;
  figure {
    width: 100px;
    height: 100px;
    background-color: $orangeColor1;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  div {
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px;
    h2 {
      color: $blackFontColor;
      font-size: 18px;
      letter-spacing: 0;
      text-align: left;
    }
  }
  .toggleBtn {
    background-color: #ebebeb;
    border: none;
    width: 50px;
    height: 90px;
    border-radius: 50px;
    margin-left: auto;
    padding: 5px;
    display: flex;
    align-items: flex-start;
    transition-duration: 0.3s;
    div {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      transition-duration: 0.3s;
      background-color: #fff;
    }
  }
  .toggleBtn_check {
    background-color: $orangeColor1;
    box-shadow: 0px 0px 5px $orangeColor1;
    div {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .menu-bar {
    width: 48%;
    max-width: 380px;
    height: 110px;
    padding: 0 10px;
    figure {
      width: 80px;
      height: 80px;
    }
    div {
      h2 {
        font-size: 14px;
      }
    }
    .toggleBtn {
      width: 40px;
      height: 80px;
      div {
        width: 30px;
        height: 30px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .menu-bar {
    width: 100%;
  }
}
