@import 'src/css/common.scss';

form{
  border-radius: 15px;
  @include whiteShadow;
  background-color: #fff;
  box-sizing: border-box;
  padding: 50px 30px 30px;
  width: 600px;
  display: flex;
  flex-flow: wrap row;
  letter-spacing: 0.05em;
  margin-top: 30px;
  span{
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    label{
      color: $blackFontColor;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
      display: block;
    }
    input{
      margin-bottom: 10px;

    }
    &:nth-of-type(6), &:nth-of-type(7), &:nth-of-type(9){
      width: 100%;
    }
  }
  .error-message{
    margin-top: 10px;
    min-height: 15px;
    width: 100%;
    padding: 0 10px;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    color: red;
  }
}
@media screen and (max-width: 767px) {
  form{
    width: 100%;
    padding: 40px 20px 20px;
    span{
      width: 100%;
      padding: 5px;
      label{
        font-size: 12px;
      }
    }
  }
}