@import "../../../../../css/common.scss";

.choose-plate {
  display: block;
  width: 240px;
  height: 320px;
  text-decoration: none;
  border-radius: 5px;
  margin: 25px 0;
  background-color: #fff;
  overflow: hidden;
  transition-duration: 0.3s;
  @include whiteShadow;
  div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 30px;
    img {
      width: 72%;
      background-color: $orangeColor1;
      border-radius: 5px;
      margin-bottom: 15px;
      box-sizing: border-box;
      padding: 5%;
    }
    h2 {
      margin-bottom: 18px;
      font-size: 18px;
      color: $blackFontColor;
      border-bottom: 2px solid $orangeColor1;
      padding-bottom: 5px;
    }
    p {
      display: none;
    }
    .checked-choose-plate {
      display: inline;
      font-weight: bold;
      color: #fff;
      background-color: rgb(75, 75, 75);
      padding: 10px 20px;
      border-radius: 5px;
    }
  }
}

.choose-plate:hover {
  transform: translateY(-10px);
}

.choose-plate-checked {
  filter: brightness(50%);
  transition-duration: 0s;
  &:hover {
    transform: none;
  }
}

@media screen and (max-width: 1099px) {
  .choose-plate {
    width: 48%;
    max-width: 240px;
    height: 320px;
  }
}
@media screen and (max-width: 767px) {
  .choose-plate {
    width: 45%;
    height: 240px;
    margin: 10px 0;
    div {
      h2 {
        font-size: 14px;
        margin-bottom: 10px;
      }
      .checked-choose-plate {
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }
  }
}
