@import "src/css/common.scss";
#login {
  background-color: $baseColor;
  min-height: 100vh;
  padding-top: 200px;
  box-sizing: border-box;
  form {
    width: 300px;
    border-radius: 15px;
    @include whiteShadow;
    background-color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 30px;
    label {
      // text-align: center;
      color: $blackFontColor;
      font-size: 14px;
      font-weight: bold;
      // border-radius: 15px;
      // padding: 10px 14px;
      // background-color: $orangeColor1;
    }
    input {
      margin: 10px 0 20px;
      &:last-of-type{
        margin: 40px 0 0;
      }
    }
  }
}
