@import "src/css/common.scss";

#bt-signup {
  background-color: $baseColor;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  padding: 150px 0;
  align-items: center;
}
