#guest-mypage {
  background-color: #f3f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  padding-top: 150px;
}

#guest-mypage section {
  margin-top: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-card {
  background-color: #fff;
  width: 250px;
  height: 400px;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  margin: 0 10px;
  -webkit-box-shadow: 0px 25px 12px #e9e9e9;
          box-shadow: 0px 25px 12px #e9e9e9;
}

.profile-card figure {
  width: 200px;
  height: 200px;
  background-color: #f08642;
  border-radius: 15px;
  margin-bottom: 20px;
}

.profile-card div dl span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}

.profile-card div dl span dt {
  color: #242429;
  width: 35%;
  font-size: 16px;
  color: #242429;
  font-weight: bold;
}

.profile-card div dl span dd {
  font-weight: lighter;
  color: #5c5c5c;
  font-size: 18px;
}

.reserved-history-card {
  background-color: #fff;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  height: 400px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 25px 12px #e9e9e9;
          box-shadow: 0px 25px 12px #e9e9e9;
}

.reserved-history-card div {
  text-align: center;
  margin: 0 30px;
}

.reserved-history-card div h2 {
  display: inline-block;
  margin-bottom: 20px;
  background-color: #f08642;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
}

.reserved-history-card div div dl {
  text-align: left;
  padding: 0 10px;
}

.reserved-history-card div div dl span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  white-space: nowrap;
}

.reserved-history-card div div dl span dt {
  color: #242429;
  font-weight: bold;
  width: 110px;
  font-size: 16px;
}

.reserved-history-card div div dl span dd {
  color: #5c5c5c;
  font-size: 18px;
}

.reserved-history-card div div dl .menus span {
  display: block;
}

.reserved-history-card div div dl .menus span dd {
  padding: 2px 0;
}
