@import "../../../../css/common.scss";

#guest-mypage {
  background-color: $baseColor;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 150px 0;
  section {
    display: flex;
    width: 950px;
    margin: 50px auto 0;
    justify-content: space-between;
    .mypage-profile {
      width: 250px;
      background-color: #fff;
      padding: 30px;
      @include whiteShadow;
      border-radius: 5px;
      align-self: flex-start;
      h2 {
        font-size: 18px;
        color: $blackFontColor;
      }
      .mypage-profile-contents {
        padding: 10px 0 0;
        .mypage-profile-content {
          padding: 10px 0 0;
          h3 {
            font-size: 14px;
            color: $darkGray;
          }
          p {
            padding: 5px 0;
            font-size: 14px;
          }
          a{
            font-size: 14px;
            text-decoration: none;
            font-weight: bold;
            color: $orangeColor1;
            border: 2px solid $orangeColor1;
            border-radius: 5px;
            padding: 5px 50px;
          }
          &:last-of-type{
            margin-top: 20px;
          }
        }
      }
    }
    .mypage-reserved-history {
      width: 600px;
      background-color: #fff;
      @include whiteShadow;
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 1249px) {
  #guest-mypage {
    section {
      width: 100%;
      flex-flow: wrap row;
      justify-content: center;
      .mypage-profile {
        margin-bottom: 30px;
      }
    }
  }
}
@media screen and (max-width: 749px) {
  #guest-mypage {
    section {
      .mypage-profile {
        padding: 30px 20px;
        min-width: 300px;
        box-sizing: border-box;
        h2 {
          font-size: 12px;
        }
      }
      .mypage-reserved-history {
        max-width: 300px;
      }
    }
  }
}
