@import "src/css/common.scss";
#schedule {
  table {
    tbody {
      .reserved-square {
        background-color: $baseColor;
        &:hover {
          background-color: $baseColor !important;
        }
        &.holiday-square {
          background-color: $blueColor;
          &:hover {
            background-color: $blueColor !important;
          }
        }
      }
    }
  }
}
