.choose-title {
  margin: 0 0 0 50px;
  height: 700px;
  box-shadow: 2px 2px 5px #dddddd, -2px -2px 5px #eeeeee;
  h1 {
    font-size: 40px;
    line-height: 300px;
    writing-mode: vertical-lr;
  }
  img {
    width: 300px;
  }
}
