@import "../../../../../css/common.scss";
.choose-card {
  margin: 30px 0;
  background-color: #fff;
  @include whiteShadow;
  width: 380px;
  height: 550px;
  border-radius: 15px;
  transition-duration: 0.3s;
  cursor: pointer;
  figure {
    width: 100%;
    height: 280px;
    box-shadow: 0px 1px 3px #c0c0c0;
    overflow: hidden;
    border-radius: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  div {
    color: $blackFontColor;
    box-sizing: border-box;
    padding: 20px 15px;
    h3 {
      font-size: 22px;
      margin-bottom: 50px;
      letter-spacing: 0.05em;
    }
    p {
      line-height: 1.4em;
      font-weight: normal;
    }
    p:first-of-type,
    p:nth-of-type(3) {
      font-weight: bold;
    }
    p:nth-of-type(2) {
      margin-bottom: 15px;
    }
    .fa-instagram {
      margin-top: 10px;
      background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.choose-card:hover {
  // transform: translateY(-10px);
}
