@import "src/css/common.scss";
#home {
  .home-image {
    width: 100%;
    max-height: 100vh;
    box-sizing: border-box;
    padding: 200px 100px;
    background-image: url(/img/Barber-bro.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 90% center;
    div {
      margin-bottom: 50px;
      color: $blackFontColor;
      h1 {
        font-size: 50px;
        margin-bottom: 50px;
      }
      p {
        font-weight: bold;
        font-size: 20px;
        line-height: 35px;
      }
    }
    button {
      font-size: 30px;
      border: none;
      padding: 40px 80px;
      color: #fff;
      font-weight: bold;
      letter-spacing: 5px;
      border-radius: 100px;
      background-color: $orangeColor1;
      cursor: pointer;
      @include whiteShadow;
    }
  }
}
@media screen and (max-width: 1024px) {
  #home {
    .home-image {
      padding: 200px 50px;
      background-size: 40%;
      div {
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 16px;
        }
      }
      button {
        font-size: 20px;
        padding: 30px 60px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  #home {
    .home-image {
      padding: 500px 50px 0;
      background-size: 100%;
      background-position: center 100px;
      height: auto;
      max-height: none;
      div {
        margin-bottom: 30px;
        h1 {
          font-size: 20px;
          margin-bottom: 30px;
        }
        p {
          font-weight: normal;
          line-height: 24px;
          font-size: 12px;
        }
      }
      button {
        font-size: 20px;
        display: block;
        margin: 0 auto 100px;
        padding: 20px 40px;
      }
    }
  }
}
