@import "../../../../css/common.scss";

#schedule {
  background-color: #fff;
  color: $blackFontColor;
  font-weight: bold;
  letter-spacing: 0.1em;
  border-radius: 15px;
  font-size: 14px;
  table {
    tbody {
      tr,
      th,
      td {
        background-color: #fff;
        box-sizing: border-box;
        width: 70px;
        height: 40px;
        border: 2px solid $baseColor;
        text-align: center;
        line-height: 40px;
      }
      tr {
        th {
          color: #969696;
        }
        td:not(:nth-of-type(1)) {
          cursor: pointer;
        }
        td:not(:nth-of-type(1)):hover {
          background-color: $orangeColor1;
        }
      }
      .reserved-square {
        background-color: $baseColor;
        pointer-events: none;
      }
      .reserved-square:hover {
        background-color: $baseColor !important;
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  #schedule {
    font-size: 12px;
    table {
      tbody {
        tr,
        th,
        td {
          width: 45px;
          height: 30px;
          line-height: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  #schedule {
    font-size: 10px;
    table {
      tbody {
        tr,
        th,
        td {
          width: 40px;
          height: 25px;
          line-height: 25px;
        }
      }
    }
  }
}
