@import "../../../css/common.scss";

.chooses {
  width: 100%;
  height: 100vh;
  background-color: $baseColor;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  .heading{
    text-align: center;
    h2{
      color: $blackFontColor;
      font-size: 40px;
      letter-spacing: .1em;
    }
    p{
      color: $blackFontColor;
      font-weight: bold;
      line-height: 1.5em;
    }
  }
  .chooses-contents-wrapper {
    .chooses-contents {
      width: 600px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }
}
// .chooses {
//   display: flex;
//   align-items: center;
//   height: 100vh;
//   background-color: #ee965f;
//   .chooses-contents-wrapper {
//     width: 100%;
//     // height: 700px;
//     margin: 0 auto;
//     // box-shadow: 2px 2px 5px #e9e9e9, -2px -2px 5px #ececec;
//     display: flex;
//     align-items: center;
//     // background-color: #fff;
//     .sub-title {
//       writing-mode: vertical-lr;
//       color: #ffbe95;
//       font-size: 110px;
//       padding-left: 20px;
//     }
//     .chooses-contents {
//       display: flex;
//       flex-flow: wrap row;
//       width: 1200px;
//       height: 600px;
//       justify-content: space-between;
//       align-items: center;
//       margin: 0 auto;
//       a {
//         // width: 45%;
//         // height: 45%;
//         width: 250px;
//         text-decoration: none;
//         // box-shadow: 3px 3px 5px #e7e7e7, -1px -1px 5px #e9e9e9;
//         transition-duration: 0.2s;
//         border-radius: 25px;
//         overflow: hidden;
//         background-color: #fff;
//         div {
//           width: 100%;
//           height: 100%;
//           text-align: center;
//           img {
//             width: 100%;
//             height: 75%;
//             object-fit: cover;
//           }
//           h2 {
//             text-align: center;
//             font-size: 20px;
//             white-space: nowrap;
//             // background-color: rgb(12, 243, 243);
//             // border-radius: 10px;
//             // color: rgb(255, 255, 255);
//             color: #0a0a0a;
//             display: inline-block;
//             // padding: 12px 15px;
//           }
//         }
//       }
//       a:hover {
//         transform: rotate(8deg);
//       }
//     }
//   }
// }
