@import "../../../../css/common.scss";

#choose-store {
  background-color: $baseColor;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 150px 0 0;
  .choose-store-card-wrapper {
    width: clamp(300px, 80%, 1150px);
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &::after {
      content: "";
      display: block;
      width: 350px;
    }
  }
}
