@import "../../../../css/common.scss";

#choose-store{
  background-color: $baseColor;
  // height: clamp(100vh, 100vh, 100%);
  min-height: 100vh;
  padding: 150px 0 0;
  .choose-store-card-wrapper{
    width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .choose-store-card-wrapper::after{
    content: "";
    display: block;
    width: 350px;
  }
}
