#choose-store{
  height: 100vh;
  display: flex;
  align-items: center;
}
.choose-store-contents{
  width: 1000px;
  height: 700px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  background-color: rgb(240, 134, 66);
}
.choose-store-content-wrapper{
  width: 800px;
  height: 100%;
  overflow: scroll;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.choose-store-content-wrapper::after{
  content: "";
  width: 320px;
}
.choose-store-content{
  box-shadow: 3px 3px 5px #e06742, -5px -5px 5px #eb734e;
  background-color: #fff;
  width: 320px;
  height: 550px;
  margin: 50px 0;
  border-radius: 25px;
  cursor: pointer;
  figure{
    width: 100%;
    height: 65%;
    overflow: hidden;
    padding: 20px 20px;
    box-sizing: border-box;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px 25px 0px 0px;
    }
  }
  div{
    padding: 0 20px 20px;
    h2{
      font-size: 20px;
      margin-bottom: 5px;
    }
    h3{
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 5px;
    }
  }
}