@import "../../../../css/common.scss";

#choose-store{
  background-color: $baseColor;
  height: 100%;
  padding: 50px 0;
  .choose-store-card-wrapper{
    width: 830px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
