#beautician {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    background-color: #fff;
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    figure {
      width: 350px;
      height: 450px;
      box-sizing: border-box;
      position: relative;
      img {
        object-fit: cover;
        object-position: -250px 0;
        width: 100%;
        height: 100%;
      }
      div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffffcc;
      }
    }
    .signIn {
      width: 350px;
      height: 450px;
      border: 1px solid #000;
      text-align: center;
      padding-top: 50px;
      box-sizing: border-box;
      label {
        display: block;
        font-size: 18px;
        margin: 10px 0;
      }
      input {
        display: block;
        width: 260px;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      button {
        background-color: red;
        color: #fff;
        font-size: 18px;
        border: none;
        width: 240px;
        height: 50px;
        margin-top: 80px;
      }
    }
  }
}
