version: '3'
services:
  app:
    build: .
    tty: true
    ports:
      - "3000:3000"
    env_file: .env
  mysql:
    image: mysql:8.0.19
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: noname
      MYSQL_USER: noname
      MYSQL_ROOT_PASSWORD: noname
      MYSQL_PASSWORD: noname
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci